.right_title p {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}
.contacts_page .contacts_page_left_list .left_contact_img img {
  margin-left: -35px;
  margin-bottom: 50px;
}
.contact_page_items h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
}
.contact_page_items p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.contacts_socials p,
.contacts_socials a {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
}

.contacts_map {
  width: 100%;
  background: url(/assests/images/contacts-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts_form .main_form_form .main_form_submit,
.contacts_form .main_form_form .input_form_btn input,
.contacts_form .main_form_form .input_form_btn p {
  width: 100%;
}

.right_section .contact_page_items,
.right_section .contacts_socials {
  display: none;
}
@media only screen and (max-width: 1050px) {
  .right_section .contact_page_items,
  .right_section .contacts_socials {
    display: block;
    margin-bottom: 40px;
  }
  .right_section .contacts_socials {
    margin-bottom: 64px;
  }
  .contacts_page .main_form_form {
    margin-top: 0;
  }
  .contacts_page .contacts_form .right_title {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 750px) {
  .nav_wrapper {
    margin-bottom: 15px;
  }
  .navigation_links p {
    margin-bottom: 15px;
  }
  .contacts_page .from_right_anim .right_title p {
    margin-bottom: 0;
  }
  .contacts_page .contacts_socials .form_socials {
    display: flex !important;
    flex-direction: row;
    justify-content: start;
  }
}
