.our_services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service_circle {
  width: 446px;
  height: 446px;
  border: 0.923645px solid #000000;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.service_circle_items h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.service_circle_items p {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-decoration-line: underline;
  color: #000000;
  margin-bottom: 10px;
  cursor: pointer;
}

.service_circle_items {
  width: 210px;
  margin: 0 auto;
}
.our_services_twice,
.our_services_three,
.our_services_twice_second {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.our_services_twice .service_circle_1 {
  position: relative;
  right: -30px;
}
.our_services_twice .service_circle_2 {
  position: relative;
  left: -30px;
}
.our_services_twice .service_circle_2 .service_circle_items {
  margin-top: -45px;
}
.service_circle_4 .service_circle_items {
  margin-top: -40px;
}
.our_services_three {
  top: -118px;
}
.our_services_three .service_circle_3 {
  position: relative;
  right: -55px;
}
.our_services_three .service_circle_5 {
  position: relative;
  left: -55px;
}

.our_services_twice_second {
  top: -235px;
}
.our_services_twice_second .service_circle_6 {
  position: relative;
  right: -30px;
}
.our_services_twice_second .service_circle_7 {
  position: relative;
  left: -30px;
}
.our_services .service_circle:hover {
  transition: all 0.5s ease;
  background: #000;
  z-index: 22;
}

.our_services .service_circle:hover p,
.our_services .service_circle:hover h3 {
  transition: all 0.5s ease;
  color: #ffffff;
}
