.photo_page .cc_left_img img {
  width: 350px;
}

.photo_page .section_answer_1_items {
  padding-bottom: 56px;
}

.photo_page .section_answer_3_items {
  padding-bottom: 30px;
}

.photo_page .advantages_list_item {
  padding-top: 10px;
  align-items: flex-start;
}

.photo_page .advantages_list_item .advantage_text li {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #000000;
  margin-bottom: 15px;
}

.photo_page .advantages_list_item .advantage_number {
  margin-top: -10px;
}

.process_members_title p {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
  margin: 60px 0 30px;
}

.process_members_circles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.process_members_circles div {
  width: 223px;
  height: 223px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process_members_circles div p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.process_members_circle_1 {
  margin-right: -20px;
  margin-left: 0;
}
.process_members_circle_2 {
  margin-right: -20px;
  margin-left: -20px;
}
.process_members_circle_3 {
  margin-right: -20px;
  margin-left: -20px;
}
.process_members_circle_4 {
  margin-left: -20px;
  margin-right: 0;
}
.tablet_sec_view .left_part_circle {
  display: none;
}

@media only screen and (max-width: 850px) {
  .photo_page .advantage_text p {
    margin-left: 40px;
  }
  .process_members_circles {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .process_members_circles div {
    margin: 0;
    width: 300px;
    height: 300px;
  }
  .process_members_title p {
    text-align: center;
    font-size: 32px;
  }
  .process_members_circle_1 {
    margin-right: -20px !important;
  }
  .process_members_circle_2 {
    margin-left: -20px !important;
  }
  .process_members_circle_3 {
    margin-right: -20px !important;
    margin-top: -20px !important;
  }
  .process_members_circle_4 {
    margin-left: -20px !important;
    margin-top: -20px !important;
  }
}

@media only screen and (max-width: 750px) {
  .photo_page .cc_left_img {
    width: 50%;
  }
  .photo_page .advantages_list_item .advantage_number {
    margin-top: 0px;
  }
  .photo_page .section_answer_1_items {
    padding-bottom: 53px;
  }
  .photo_page .second_view .right_block {
    width: 100% !important;
  }
  .tablet_sec_view .left_part_circle {
    display: flex;
    margin-right: 50px;
  }
  .tablet_sec_view {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 620px) {
  .process_members_circles {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .process_members_circle_1 {
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .process_members_circle_2 {
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .process_members_circle_3 {
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .process_members_circle_4 {
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .process_members_title p {
    margin-bottom: 60px;
  }
  .advantage_text ul {
    margin-left: 50px;
  }
  .section_answers div p br {
    display: none;
  }
  .tablet_sec_view {
    flex-direction: column;
  }
  .tablet_sec_view .left_part_circle {
    margin: 0 auto;
  }
 .photo_page .right_block {
    margin-top: 0 !important;
  }
  .second_view_tablet_wr {
    margin-top: 100px;
  }
  .growing_lines_block {
    margin-bottom: 0;
  }
}
