* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
}
.nav_wrapper {
  width: 1214px;
  margin: 0 auto;
  padding: 25px 0 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  margin-bottom: 64px;
}

.nav_list_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}
.nav_logo {
  padding: 5px;
  background: #000000;
}
.nav_logo a {
  font-weight: 700;
  font-size: 17.4118px;
  line-height: 145%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.navlist {
  display: flex;
  align-items: center;
}
.nav_list_item {
  margin-right: 47px;
}
.nav_list_item a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.nav_contacts {
  display: flex;
  align-items: center;
}
.nav_contacts_icons {
  display: flex;
  margin-right: 15px;
}
.nav_contacts_icons div {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_phone a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
}

.header_wrapper,
.second_view,
.third_view {
  width: 1214px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.right_block,
.third_right_block {
  width: 800px;
}

.message_block {
  background: #000000;
  width: 255px;
  height: 88px;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}
.quest_icon p {
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 28px;
}
.message_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
.union_triang {
  position: absolute;
  margin-bottom: -105.5px;
  left: 21px;
}

.header_text {
  margin: 55px 0 40px;
}

.header_text p {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
}

.header_circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 65px;
}
.header_circle_1,
.header_circle_2,
.header_circle_3 {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: #000000;
  position: relative;
}
.header_circle_2 {
  margin-right: -20px;
  margin-left: -20px;
}
.header_items {
  padding-left: 50px;
  padding-right: 20px;
  z-index: 11;
}

.circle_numbers p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 90px;
}
.circle_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}
.header_circle_item_1,
.header_circle_item_2 {
  width: 280px;
  height: 280px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: absolute;
}
.header_circle_item_1 {
  top: -30px;
}
.header_circle_item_2 {
  top: -60px;
}
.header_clients {
  display: flex;

  justify-content: space-between;
  margin-bottom: 105px;
}

.clients_top_text {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #000;
}
.old_clients_top_text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 186px;
  height: 30px;
  background: #000000;
}
.new_clients_top_text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 194px;
  height: 30px;
  background: #000000;
  margin-left: -1px;
}
.old_clients_top_text p,
.new_clients_top_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.old_clients {
  width: 530px;
}
.new_clients {
  width: 270px;
}
.old_clients_items {
  padding: 35px 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.new_clients_items {
  padding: 35px 0;
  padding-left: 40px;
  border-bottom: 1px solid #000;
}
.old_clients_items p,
.new_clients_items p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}

.section_questions p {
  margin: 55px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
}
.section_answers {
  display: flex;
  margin-bottom: 45px;
}
.section_answer_1,
.section_answer_2,
.section_answer_3 {
  width: 33%;
}
.section_answer_number {
  border-bottom: 1px solid #000;
  margin-left: -1px;
}
.section_answer_number p {
  width: 55px;
  background: #000;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}
.section_answer_1_items,
.section_answer_2_items,
.section_answer_3_items {
  border-bottom: 1px solid #000;
  padding: 30px 0;
}
.section_answer_1_items,
.section_answer_2_items {
  border-right: 1px solid #000;
}
.section_answer_2_items,
.section_answer_3_items {
  padding-left: 40px;
  padding-bottom: 56px;
}
.section_answer_3_items {
  padding-bottom: 82px;
}
.section_answer_1_items p,
.section_answer_2_items p,
.section_answer_3_items p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
}
.warning_message {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.warning_message_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.warning_message .exclamation_mark {
  width: 130px;
  height: 63px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.warning_message .exclamation_mark p {
  font-weight: 700;
  font-size: 48px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}

.left_part_circle {
  width: 338px;
  height: 338px;
  border-radius: 50%;
  background: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_part_circle_1,
.left_part_circle_2 {
  width: 338px;
  height: 338px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: absolute;
}
.left_part_circle_1 {
  bottom: -35px;
}
.left_part_circle_2 {
  bottom: -72px;
}
.left_part_circle_text {
  z-index: 111;
  padding-left: 70px;
  padding-right: 40px;
}
.left_part_circle_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}
.growing_lines_block {
  margin-bottom: 90px;
}
.growing_line {
  width: 100%;
  height: 1px;
  background: #000000;
  margin: 30px 0;
}
.answers_block {
  display: flex;
  align-items: start;
}
.answers_block img {
  margin-right: 15px;
}
.answers_block p {
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.answers_block p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}
.second_view .message_block {
  width: 570px;
  height: 126px;
  margin-bottom: 90px;
}

.second_view .message_block .union_triang {
  margin-bottom: -145px;
}

.third_view {
  display: flex;
}

.third_questions {
  margin-bottom: 40px;
}

.question_mark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.question_mark p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}

.third_right_block .section_questions p {
  margin: 0;
  margin-bottom: 50px;
}

.third_question {
  display: flex;
  margin: 25px 0;
}
.third_question .quest_text p {
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}

.third_question .quest_text p span {
  font-weight: 700;
}
.third_section_slider {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}
.left_empty {
  width: 37%;
}
.right_slider_num {
  width: 800px;
}

.slider_numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
.sl_num_quest {
  background: #000;
  padding: 6px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sl_num_quest p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider_right_num {
  display: flex;
  align-items: center;
}
.slider_right_num img {
  cursor: pointer;
}
.slider_right_num p {
  margin: 0 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.slider_more {
  display: flex;
  align-items: center;
}

.slider_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}

.more_btn button {
  width: 280px;
  height: 72px;
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.slider_more .exclamation_mark {
  width: 130px;
  height: 63px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.slider_more .exclamation_mark p {
  font-weight: 700;
  font-size: 48px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}

.slider_item_1 {
  padding-bottom: 130px;
}

.black_line {
  width: 100%;
  height: 1px;
  background: #000000;
  margin-bottom: 40px;
}
.marque_section p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 70px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
}

.bottom_marque {
  display: flex;
  align-items: center;
}
.bottom_marque p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
  margin: 0 16px;
}
.bottom_marque .short_line {
  padding: 0 40px;
  border-bottom: 1px solid #000;
  background: #000000;
}

.our_services {
  margin-top: 100px;
  margin-bottom: 50px;
}
.our_services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service_circle {
  width: 446px;
  height: 446px;
  border: 0.923645px solid #000000;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.service_circle_items h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.service_circle_items p {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-decoration-line: underline;
  color: #000000;
  margin-bottom: 10px;
  cursor: pointer;
}

.service_circle_items {
  width: 210px;
  margin: 0 auto;
}
.our_services_twice,
.our_services_three,
.our_services_twice_second {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.our_services_twice .service_circle_1 {
  position: relative;
  right: -30px;
}
.our_services_twice .service_circle_2 {
  position: relative;
  left: -30px;
}
.our_services_twice .service_circle_2 .service_circle_items {
  margin-top: -45px;
}
.service_circle_4 .service_circle_items {
  margin-top: -40px;
}
.our_services_three {
  top: -100px;
}
.our_services_three .service_circle_3 {
  position: relative;
  right: -55px;
}
.our_services_three .service_circle_5 {
  position: relative;
  left: -55px;
}

.our_services_twice_second {
  top: -195px;
}
.our_services_twice_second .service_circle_6 {
  position: relative;
  right: -30px;
}
.our_services_twice_second .service_circle_7 {
  position: relative;
  left: -30px;
}
.our_services .service_circle:hover {
  transition: all 0.5s ease;
  background: #000;
  z-index: 22;
}

.our_services .service_circle:hover p,
.our_services .service_circle:hover h3 {
  transition: all 0.5s ease;
  color: #ffffff;
}

.geom_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.download_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloading_text {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.downloading_text p {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
}

.downloading_text_1 {
  margin-left: -200px;
}
.downloading_text_2 {
  margin-right: -140px;
}
.downloading_text_3 {
  margin-left: -140px;
}
.downloading_text_4 {
  margin-right: -230px;
}

.download_btn button {
  margin-bottom: 120px;
  width: 208px;
  height: 208px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.download_btn button img {
  margin-top: 18px;
}

.carousels {
  width: 1216px;
  margin: 0 auto;
  margin-top: 80px;
}
.carousel_wrapper {
  margin-bottom: 60px;
}
.top_carousel_counter {
  width: 100%;
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel_counter {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  background: #000;
  margin-bottom: 25px;
}

.carousel_counter p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 15px;
}
.carousel_counter img {
  cursor: pointer;
}
.carousel_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_carousel_item {
  width: 800px;
  height: 500px;
}

.carousel_left {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

.left_carousel_text p {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
}

.left_carousel_btn button {
  width: 280px;
  height: 72px;
  border: 1px solid #000000;
  cursor: pointer;
  background: #ffffff;

  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

/* CAROUSEL */
.slider-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.slider-container .fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel_1 .slider_item_1,
.carousel_1 .slider_item_2,
.carousel_1 .slider_item_3 {
  width: 100%;
  height: 100%;
  background: url(../assests/images/create_content.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slides,
.slides2,
.slides3,
.slides4,
.slides5 {
  height: 100%;
  width: 100%;
  padding: 40px 48px 48px;
}

.slider_top_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}

.slider_bottom_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 320px;
}

.sl_left_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #ffffff;
}

.slider_bottom_right_btn button {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
}
.slider_bottom_right_btn button img {
  margin-left: 15px;
}

.carousel_2 .slider_item_1,
.carousel_2 .slider_item_2,
.carousel_2 .slider_item_3 {
  width: 100%;
  height: 100%;
  background: url(../assests/images/dev_dizayn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_3 .slider_item_1,
.carousel_3 .slider_item_2,
.carousel_3 .slider_item_3 {
  width: 100%;
  height: 100%;
  background: url(../assests/images/dev_web_sites.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_4 .slider_item_1,
.carousel_4 .slider_item_2,
.carousel_4 .slider_item_3 {
  width: 100%;
  height: 100%;
  background: url(../assests/images/merch-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_5 .slider_item_1,
.carousel_5 .slider_item_2,
.carousel_5 .slider_item_3 {
  width: 100%;
  height: 100%;
  background: url(../assests/images/exclusive-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.geography,
.digest,
.template {
  width: 1214px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.geography {
  margin-top: 100px;
}
.digest {
  margin-top: 50px;
}
.left_geography,
.left_deigest,
.left_section {
  display: flex;
}

.left_geography_slash p,
.left_deigest_slash p {
  font-weight: 700;
  font-size: 80px;
  line-height: 90%;
  margin-right: 30px;
}
.left_geography_text p,
.left_deigest_text p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
}
.right_geography,
.right_deigest,
.right_section {
  width: 800px;
}

.right_title h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.geography_map {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 60px;
}
.geography_map img {
  width: 100%;
}

.deigest_text {
  margin-bottom: 40px;
}
.deigest_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
  padding-right: 10px;
}

.template .left_part_circle_text {
  padding-left: 0;
}
.circle_socials {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.circle_socials img {
  margin-right: 20px;
}
.template .left_section .left_part_circle {
  margin-top: -40px;
}

.right_top_text {
  border-top: 1px solid #000;
  margin-bottom: 50px;
}
.right_top_text p {
  background: #000000;
  width: 602px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.analyse_products {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.analyse_products .analyse_left div,
.analyse_products .analyse_right div {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.analyse_products div p {
  margin-left: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}

.right_section .black_line {
  margin-top: 45px;
  margin-bottom: 40px;
}

.template .slider_more {
  display: flex;
  justify-content: space-between;
}
.right_section .exclamation_mark {
  width: 65px;
}

.template {
  margin-bottom: 120px;
}
.recommendation {
  display: flex;
  align-items: center;
}

.our_advantage_marquee {
  margin-bottom: 80px;
}

/* advantage */

.advantages_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advant_num_name {
  display: flex;
  align-items: center;
}

.advantage_number {
  width: 58px;
  height: 58px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.advantage_number p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
}
.advantage_name p {
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #000000;
}
.growing_linee {
  width: 100%;
  height: 1px;
  background: #000000;
  margin: 45px 0 22px;
}
.advantage_text {
  width: 60%;
}
.advantage_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #000000;
}

.advatages_list .slider_more {
  margin-top: 47px;
}

.recommendations_block .left_part_circle_text img {
  margin-top: 15px;
}
