.video_advantage_block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video_advantage_block_1 {
  margin-bottom: 50px;
}

.video_page .process_members_circles {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 80px;
}

.video_page .process_members_circle_1,
.video_page .process_members_circle_2,
.video_page .process_members_circle_3 {
  width: 295px !important;
  height: 295px;
}

.video_page .video_page_circle_top,
.video_page .video_page_circle_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
}
.video_page .video_page_circle_bottom {
  margin-top: 40px;
}

.video_page .process_members_circle_1 {
  margin-right: -30px;
  margin-left: 0;
}
.video_page .process_members_circle_2 {
  margin-right: -30px;
  margin-left: -30px;
}
.video_page .process_members_circle_3 {
  margin-right: -30px;
  margin-left: -30px;
}
.video_page .process_members_circle_4 {
  margin-left: -30px;
  margin-right: 0;
}

.video_page .cc_left_img img {
  width: 380px;
}

.process_members_mob {
  display: none;
}

@media only screen and (max-width: 850px) {
  .video_page .advantage_text p {
    margin-left: 42px;
  }
  .video_page .process_members_circles {
    display: none;
  }
  .process_members_mob {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .video_page .process_members_mob div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .video_page .process_members_mob .process_members_circle_1 {
    margin-right: -10px !important;
  }
  .video_page .process_members_mob .process_members_circle_2 {
    margin-left: -10px !important;
  }
}

@media only screen and (max-width: 750px) {
  .video_page .cc_left_img {
    width: 50%;
  }
  .video_page .advantages_list_item .advantage_number {
    margin-top: 0px;
  }
  .video_page .section_answer_1_items {
    padding-bottom: 53px;
  }
  .video_page .second_view .right_block {
    width: 100% !important;
  }
  .tablet_sec_view .left_part_circle {
    display: flex;
    margin-right: 50px;
  }
  .tablet_sec_view {
    display: flex;
    justify-content: space-between;
  }
  .right_title h1 {
    text-align: left;
  }
}

@media only screen and (max-width: 650px) {
  .video_advantage_block {
    display: flex;
    flex-direction: column;
  }
  .video_advantage_block_1 {
    margin-bottom: 0;
  }
  .video_page .video_advantage_block .advant_num_name {
    border-bottom: 1px solid #000;
    padding: 24px;
  }
  .not_bb {
    border-bottom: none !important;
  }
  .video_page .growing_linee {
    margin: 20px 0 20px;
  }
  .process_members_mob {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .video_page .process_members_mob div {
    margin: 0 !important;
    margin-top: -20px !important;
  }
  .video_page .cc_left_img img {
    margin: 0 auto;
  }
  .video_page .process_members_mob .process_members_circle_1 {
    margin-right: 0px !important;
  }
  .video_page .process_members_mob .process_members_circle_2 {
    margin-left: 0px !important;
  }
}
